header {
font-family: Arial;
text-align: center;
size: 12;
color: rgb(0, 0, 0);
}
text {
font-family: Arial;
text-align: center;
size: 12;
color: rgb(0, 0, 0);
}
html {
    background-color: rgb(115, 141, 190);
}
footer {
    font-family: Arial;
    text-align: center;
    size: 10;
    color: rgb(0, 0, 0);
    }
.company {
    padding: 20px;
    border: 1px solid #ddd;
  }